{% extends "base.html" %}
{% block content %}
<h1>Link shortener</h1>
    <p class="lead">
                    <p>Insert your link</p>
        <form method="post" action="{% url 'main-page' %}">
            <div class='wrapper'>
                <p>{{ form }}</p><br>
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="error">
                <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="error">
                    <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
                <input type="submit" value="create" style="border-color: green"><br>
            <p>or you can create your <a href="{% url 'personal-link' %}" style="color: #138E02">personal link</a></p>
                 </div> </form>
    <p>New link: <a href="{{ link }}">{{ link }}</a></p>
{% endblock %}
